<template>
  <div class="bx-file-dialog-content" style="margin-left: 199px; height: 288px">
    <div class="bx-file-dialog-content-root">
      <file-dialog-header></file-dialog-header>
      <file-dialog-content-path
        v-if="$store.state.pathChain.length > 1"
      ></file-dialog-content-path>
      <div class="bx-file-dialog-content-wrap">
        <file-dialog-folder
          v-for="folder in $store.state.content.folders"
          v-bind="folder"
          :key="folder.ID"
        ></file-dialog-folder>
        <file-dialog-file
          v-for="file in $store.state.content.files"
          :fileObject="file"
          :key="file.ID"
        ></file-dialog-file>
      </div>
    </div>
  </div>
</template>

<script>
import FileDialogHeader from './file-dialog/FileDialogHeader.vue';
import FileDialogContentPath from './file-dialog/FileDialogContentPath.vue';
import FileDialogFile from './file-dialog/FileDialogFile.vue';
import FileDialogFolder from './file-dialog/FileDialogFolder.vue';

export default {
  name: 'FileDialogContent',
  components: {
    FileDialogHeader,
    FileDialogContentPath,
    FileDialogFile,
    FileDialogFolder,
  },
};
</script>

<style>
.popup-window-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.popup-window-with-titlebar .popup-window-content,
.popup-window-content-gray .popup-window-content {
  background-color: #eef2f4;
}
.popup-window-content-white .popup-window-content {
  background-color: #fff;
}
.popup-window-with-titlebar .popup-window-content {
  padding: 20px;
}

.popup-window-angly {
  display: none;
  height: 22px;
  position: absolute;
  overflow: hidden;
  width: 33px;
}
.popup-window-angly:before {
  background-color: #fff;
  -webkit-box-shadow: 0 0 21px rgba(83, 92, 105, 0.13);
  box-shadow: 0 0 21px rgba(83, 92, 105, 0.13);
  content: '';
  height: 15px;
  position: absolute;
  left: 9px;
  top: 16px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 15px;
}
.popup-window-angly-top {
  display: block;
  left: 10px;
  margin: 0;
  top: -22px;
}
.popup-window-angly-right {
  display: block;
  right: -17px;
  top: 10px;
  height: 30px;
  width: 17px;
}
.popup-window-angly-right::before {
  left: -9px;
  top: 8px;
}
.popup-window-angly-bottom {
  bottom: -20px;
  display: block;
  height: 20px;
  margin-left: 10px;
}
.popup-window-angly-bottom::before {
  top: -9px;
}
.popup-window-angly-left {
  display: block;
  left: -14px;
  top: 10px;
  height: 30px;
  width: 14px;
}
.popup-window-angly-left::before {
  left: 8px;
  top: 8px;
}
.popup-window-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #333;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.popup-window-resize {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAADBJREFUGBljYMADLl269B+PNESKNopwmoosgcxGcSeyBDKbKEUoGpA5uNgoplKNAwBv1DPc646T+wAAAABJRU5ErkJggg==');
  cursor: nwse-resize;
}
.popup-window:hover .popup-window-resize {
  opacity: 1;
}
.menu-popup {
  padding: 8px 0;
}
.menu-popup-title {
  margin: 0 0 7px 0;
  padding: 0 0 0 4px;
  color: #4c4c4c;
  white-space: nowrap;
  font: normal normal normal 12px / normal Arial, Helvetica, sans-serif;
}
.menu-popup .menu-popup-item {
  background-color: transparent;
  display: block;
  cursor: pointer;
  height: 36px;
  position: relative;
  text-decoration: none;
  outline: 0;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.menu-popup .menu-popup-item-disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}
.menu-popup .menu-popup-item-disabled .main-ui-loader-svg-circle {
  stroke: #4a4e53;
  stroke-width: 3;
}
.menu-popup-item-icon {
  display: inline-block;
  height: 16px;
  margin-left: 15px;
  vertical-align: middle;
  width: 19px;
}
.menu-popup-item-text {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #525c68;
  line-height: 36px;
  padding: 0 15px 0 9px;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.menu-popup-item-text .tariff-lock {
  margin: 0 5px 2px 5px;
  vertical-align: middle;
}
.popup-window-fixed-width .menu-popup-item-text {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-popup-no-icon .menu-popup-item-text {
  padding: 0 15px;
}
.menu-popup-item-submenu .menu-popup-item-text {
  padding-right: 28px;
}
.menu-popup-item:hover,
.menu-popup-item.menu-popup-item-open {
  background-color: #f6f8f9;
}
.menu-popup-item:hover .menu-popup-item-text {
  color: #3b434f;
}
.menu-popup-item.menu-popup-item-disabled:hover {
  background: initial;
}
.menu-popup-item-submenu:after {
  position: absolute;
  right: 11px;
  top: 50%;
  margin-top: -4px;
  width: 6px;
  height: 9px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI5IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0tLjAxIDEuMTg3bDIuOTIyIDIuOTItMi45MiAyLjkyMyAxLjE3MyAxLjE3MyAyLjkyLTIuOTJMNS4yNiA0LjEwNyAxLjE2NC4wMTMiIGZpbGw9IiNBOEFCQjIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
  background-size: cover;
  content: '';
}
.bx-admin-submenu-opened {
  background: #f0f0f0 !important;
  border-radius: 3px;
}
.menu-popup-no-icon .menu-popup-item-icon {
  display: none;
}
.menu-popup-item-view .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M8.37 0a6.37 6.37 0 015.326 9.861l3.309 3.307c.392.392.39 1.03.005 1.415l-.427.427c-.39.389-1.025.384-1.415-.005l-3.307-3.309A6.37 6.37 0 118.369 0zm0 1.82a4.55 4.55 0 100 9.098 4.55 4.55 0 000-9.098z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-edit .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M14.42 1l2.55 2.577-9.978 9.951-2.55-2.577L14.418 1zM3.008 14.638a.267.267 0 00.067.255c.067.067.164.093.255.067l2.851-.768-2.405-2.405-.768 2.85z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-create .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M8.978 0v6h6.064v2.948l-6.064-.001v6.043H6l-.001-6.043H0V6h5.999L6 0h2.978z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-create-quick .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M15.39 8.032v3l3.01.002v2l-3.01-.001v3.003h-2v-3.003h-3.005v-2h3.006V8.032h2zM12.23 0L6.77 6.044h5.46l-8.865 9.409L6.77 8.744H2L5.009 0h7.22z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-take .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M7.477 14.702L2 9.39l2.267-2.209 3.21 3.102L16.002 2l2.267 2.209z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-begin .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M9.632 1a7.632 7.632 0 110 15.265A7.632 7.632 0 019.632 1zm0 1.752a5.88 5.88 0 100 11.761 5.88 5.88 0 000-11.761zM8.296 5.119a.7.7 0 01.375.11l4.418 2.806a.7.7 0 010 1.182L8.67 12.024a.7.7 0 01-1.075-.59V5.818a.7.7 0 01.7-.7z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-decline .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M6.161 2l.017 2.83h2.138a4.433 4.433 0 014.433 4.434v.129a4.433 4.433 0 01-4.433 4.433H4.91c-.24 0-.474-.019-.702-.055v-1.949h3.908l.163-.005a2.48 2.48 0 002.317-2.475l-.005-.163A2.48 2.48 0 008.116 6.86H6.19l.017 3.048L2 5.932 6.161 2zm10.043 1.887v9.662h-2.008V3.887h2.008z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-reopen .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M9.514 2a6.508 6.508 0 015.42 2.899l1.794-1.796v5.681h-5.68l2.238-2.238a4.254 4.254 0 10-3.772 6.222l.146-.005-.173 2.264-.207-.004A6.514 6.514 0 019.514 2z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-complete .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M4 2h11.648L13.1 6.015l2.548 4.016-9.661-.001v4.963H4V2z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-hold .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M8 2v12H5V2h3zm5.986 0v12h-3V2h3z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-accept .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M7.477 14.702L2 9.39l2.267-2.209 3.21 3.102L16.002 2l2.267 2.209z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-remake .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M15.246 8.07l1.398 2.234a2 2 0 01-1.695 3.06l-3.038-.001v2.439L8.56 12.45l3.352-3.352-.001 2.065 2.676.001-1.247-1.993 1.906-1.101zM5.58 5.71l1.227 4.578L4.849 9.16l-1.253 2.005h3.056v2.2H3.236a2 2 0 01-1.695-3.06L2.944 8.06 1 6.936 5.579 5.71zM10.153.304a2 2 0 01.635.635l1.746 2.791L14.5 2.597l-1.227 4.578L8.694 5.95l1.933-1.117-1.535-2.455L7.6 4.761l-1.906-1.1L7.397.94a2 2 0 012.756-.635z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-delete .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M15.406 3.889l-3.8 3.8 3.841 3.841-1.867 1.867-3.841-3.842-3.826 3.828-1.887-1.886L7.853 7.67l-3.8-3.8L5.92 2.003l3.8 3.8 3.8-3.8z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-copy .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M4.898 9.472V3.094c0-.108.088-.196.196-.196h6.378c.107 0 .195.088.195.196V3.4h1.899v-1.76a.642.642 0 00-.64-.641H3.64a.642.642 0 00-.64.64v9.285c0 .353.288.64.64.64h1.655V9.668h-.201a.196.196 0 01-.196-.195zm10.223 3.442a.208.208 0 01-.207.207H8.161a.208.208 0 01-.207-.207V6.161c0-.113.094-.207.207-.207h6.753c.114 0 .207.094.207.207v6.753zm1.148-8.86H6.713a.66.66 0 00-.659.66v9.555a.66.66 0 00.66.659h9.555a.661.661 0 00.659-.66V4.714a.66.66 0 00-.66-.659z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-delegate .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M10.283 2.73c-.485-.8 3.605-1.466 3.877.984a7.774 7.774 0 010 2.227s.611-.073.203 1.137c0 0-.225.87-.57.675 0 0 .056 1.1-.487 1.287 0 0 .04.586.04.625l.453.07s-.014.49.077.542c.414.279.868.49 1.345.626 1.41.372 2.126 1.012 2.126 1.571l.388 2.55H5.908s.079-1.256.293-2.127c.215-.87 1.42-1.516 2.53-2.013.575-.258.7-.412 1.278-.676a2.04 2.04 0 00.039-.487l.491-.06s.065.122-.039-.597c0 0-.552-.15-.578-1.294 0 0-.415.143-.44-.55-.018-.47-.372-.878.137-1.216l-.26-.72s-.272-2.78.924-2.555zm-7.307.929l4.167 4.168-4.167 4.167-.001-3.001H0v-2h2.975V3.659z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-add-to-tm .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16'%3E%3Cpath fill='%23525C69' fill-rule='evenodd' d='M12.293 1.542a7.494 7.494 0 014.696 6.952 7.348 7.348 0 01-7.196 7.49 7.494 7.494 0 112.5-14.442zM5.428 4.587a5.64 5.64 0 004.291 9.543 5.53 5.53 0 005.416-5.636 5.64 5.64 0 00-9.707-3.907zM8.13 9.989V5.417h2v2.572h2.508v2H8.13z'/%3E%3C/svg%3E")
    no-repeat;
}

.menu-popup-item-accept-sm .menu-popup-item-icon {
  background: transparent
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='16' viewBox='-4 -4 19 16'%3E%3Cpath fill='%232066B0' d='M1.36 3.446L4.013 6.1 10.316 0l1.36 1.36-6.299 6.1-1.364 1.36-1.36-1.36L0 4.806z'/%3E%3C/svg%3E")
    no-repeat;
}
.popup-window-button-left,
.popup-window-button-right {
  display: none;
}
.popup-window-dark {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  -webkit-box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17);
  box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17);
}
.popup-window-dark .popup-window-content {
  background-color: transparent;
  color: #fff;
  margin: 0;
}
.popup-window-dark .popup-window-angly:before {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-window-tabs-box {
  padding: 10px 0 4px;
}
.popup-window-tabs {
  position: relative;
  padding: 0 20px 0 0;
  margin: 0;
  height: 42px;
  font-size: 0;
  z-index: 1;
}
.popup-window-tab {
  display: inline-block;
  height: 42px;
  margin: 0 7px 0 0;
  padding: 0 12px;
  border: 0;
  vertical-align: top;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 41px;
  color: #535c69;
  background-color: #ecf2f3;
  text-shadow: none;
  cursor: pointer;
  -webkit-transition: background-color 0.15s linear;
  -o-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
.popup-window-tab:hover {
  background-color: #f7f9f9;
}
.popup-window-tab-selected {
  position: relative;
  z-index: 2;
  padding: 0 11px;
  background-color: #fff !important;
  line-height: 40px;
  border-radius: 2px 2px 0 0;
  border: 1px solid #c6cdd3;
  border-bottom: 0;
  cursor: default;
}
.popup-window-tabs-content {
  margin: 0;
  padding: 10px;
  border: 1px solid #c6cdd3;
  border-radius: 0 3px 3px;
}
.popup-window-tab-content {
  display: none;
  padding: 20px;
  background: #eef2f4;
}
.popup-window-tabs-content-white .popup-window-tab-content {
  padding: 10px;
  background: #fff;
}
.popup-window-tab-content-selected {
  display: block;
}
.popup-window-show-animation-opacity {
  -webkit-animation: popupWindowShowAnimationOpacity 100ms;
  animation: popupWindowShowAnimationOpacity 100ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes popupWindowShowAnimationOpacity {
  0 {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popupWindowShowAnimationOpacity {
  0 {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup-window-show-animation-opacity-transform {
  -webkit-animation: popupWindowShowAnimationOpacityTransform 100ms;
  animation: popupWindowShowAnimationOpacityTransform 100ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes popupWindowShowAnimationOpacityTransform {
  0 {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes popupWindowShowAnimationOpacityTransform {
  0 {
    opacity: 0;
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.popup-window-close-animation-opacity {
  -webkit-animation: popupWindowCloseAnimationOpacity 150ms;
  animation: popupWindowCloseAnimationOpacity 150ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes popupWindowCloseAnimationOpacity {
  0 {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes popupWindowCloseAnimationOpacity {
  0 {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.popup-window-close-animation-opacity-transform {
  -webkit-animation: popupWindowCloseAnimationOpacity 150ms;
  animation: popupWindowCloseAnimationOpacity 150ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes popupWindowCloseAnimationOpacityTransform {
  0 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
}
@keyframes popupWindowCloseAnimationOpacityTransform {
  0 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
}
.popup-window-show-animation-scale {
  -webkit-animation: popup-window-show-animation-scale 400ms;
  animation: popup-window-show-animation-scale 400ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes popup-window-show-animation-scale {
  0 {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes popup-window-show-animation-scale {
  0 {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*File dialig*/
#DiskFileDialog {
  -webkit-animation: diskScaleTo 0.4s 1;
  animation: diskScaleTo 0.4s 1;
}
@-webkit-keyframes diskScaleTo {
  from {
    opacity: 0.5;
    -webkit-transform: scale(0.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes diskScaleTo {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.bx-file-dialog-title {
  color: #010101;
  display: block;
  font: 13px/22px Arial, Helvetica, sans-serif;
  height: 22px;
  margin-left: 6px;
  vertical-align: top;
}
.bx-file-dialog-content {
  margin-left: 199px;
  width: 639px;
  height: 254px;
  background-color: #fff;
  border: 1px solid #bbcfd5;
  border-radius: 3px;
}
.bx-file-dialog-content-root .bx-file-dialog-content-wrap {
  height: 223px;
}
.bx-file-dialog-content-wrap {
  width: 635px;
  height: 230px;
  border-bottom: 1px solid #f0f0f0;
  overflow: auto;
  margin-left: 5px;
  margin-bottom: 6px;
  background: url('../assets/background.png');
}

.bx-file-dialog-content-link {
  display: block;
  height: 32px;
  font: 13px Arial, Helvetica, sans-serif;
  color: #333 !important;
  text-decoration: none;
  line-height: 32px;
  padding-left: 22px;
}
.bx-file-dialog-extra-shared {
  background: url('../assets/file-dialog-sprite.png') -9px -375px no-repeat;
}
.bx-file-dialog-icon {
  background-image: url('../assets/file-dialog-sprite.png');
  background-repeat: no-repeat;
  background-position: -9px -32px;
}
.bx-file-dialog-icon-up {
  background-position: 0 -6px;
}
.bx-file-dialog-icon-up:hover {
  background-position: -20px -6px;
}
.bx-file-dialog-icon-folder {
  background-position: -9px -65px;
}
.bx-file-dialog-icon-file {
  background-position: -9px -32px;
}
.bx-file-dialog-icon-archive {
  background-position: -9px -96px;
}
.bx-file-dialog-icon-image {
  background-position: -9px -128px;
}
.bx-file-dialog-icon-video {
  background-position: -9px -160px;
}
.bx-file-dialog-icon-txt {
  background-position: -9px -191px;
}
.bx-file-dialog-icon-word {
  background-position: -9px -287px;
}
.bx-file-dialog-icon-excel {
  background-position: -9px -224px;
}
.bx-file-dialog-icon-ppt {
  background-position: -9px -255px;
}
.bx-file-dialog-icon-seporator {
  background-position: -12px -467px;
}
.bx-file-dialog-wait {
  background: url('/bitrix/js/main/core/images/wait-big.gif') no-repeat scroll 0
    0 transparent;
  height: 31px;
  width: 31px;
  margin-bottom: 1px;
  margin-top: 1px;
  position: relative;
}

.bx-file-dialog-content-wrap-title {
  font-weight: bold;
  font-size: 17px;
  padding: 20px 25px;
}
.bx-file-dialog-content-wrap-text {
  padding: 0 25px;
  font-size: 14px;
  white-space: normal;
}
.bx-file-dialog-content-wrap-text p {
  margin: 0 0 20px;
}
.bx-file-dialog-content-wrap-inner a {
  color: #03a1dc;
  border-bottom: 1px solid;
}
.bx-file-dialog-content-wrap-inner a:hover {
  border-bottom: 1px solid transparent;
  color: #03a1dc;
}

/*Interface*/
body div.bx-interface-form input.webform-button-text {
  background: none !important;
  border: 0;
  color: #7a818a;
  display: inline;
  height: auto;
  font-family: 'OpenSans-Bold', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 47px;
  text-shadow: none !important;
  text-transform: uppercase;
  padding: 0;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
.tm-popup-report-button .popup-window-button-text {
  color: #b6c1cf !important;
}
.task-button-icon-pause {
  margin: 7px 7px 0 -4px;
}
.bx-light-popup-close-icon {
  margin: -3px -5px 0 0;
}
.finder-box {
  background: transparent;
}
.finder-box-tab,
.finder-box-tab-text {
  display: inline-block;
  height: 20px;
  vertical-align: top;
  cursor: pointer;
  background: 0;
}
.finder-box-tab-left,
.finder-box-tab-right {
  display: none;
}
.finder-box-tab {
  margin: 0 3px 0 0;
  border: 1px solid #c9d2de;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.finder-box-tab-text {
  line-height: 20px;
  padding: 0 5px;
  font-weight: bold;
  color: #2067b0;
}
.finder-box-tab:hover {
  border-color: #e6eaf0;
  background: 0;
}
.finder-box .finder-box-tab-selected {
  background: #eff3f5;
  border-color: #c4c8ca #d9dddf #e6ebed #d9dddf;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.finder-box-item-icon {
  background: transparent;
}
.bx-file-dialog-tab {
  background-color: #eff3f4;
  border: 1px solid #bbcfd5;
}
.bx-file-dialog-content {
  width: 639px;
  height: 288px;
  background-color: #fff;
  border: 1px solid #bbcfd5;
  border-radius: 3px;
}
.bx-file-dialog-content-wrap {
  width: 634px;
  border-bottom: 0;
}
.bx-file-dialog-tab-group {
  border-top: 1px solid #dee2e3;
}
.bx-file-dialog-tab-item-active .bx-file-dialog-tab-item-link-text,
.bx-file-dialog-tab-item-link:hover .bx-file-dialog-tab-item-link-text {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  background: #dce4e5 !important;
  border-color: #bec8cb #e3e7e8 #dae5e8 #cfd9dc;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.bx-file-dialog-tab-item-link-arrow {
  display: none !important;
}

.webform {
  font: normal normal normal 12px / normal 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
.webform-main-fields {
  margin-bottom: 13px;
  background: #f8f3da;
  border: 1px solid;
  border-color: #ded8b7 #ebe5c9 #f4efd5 #ebe5c9;
  border-radius: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.webform-main-fields .webform-round-corners {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fdfaeb;
}
.webform-main-fields .webform-content .webform-content {
  border: 0;
}
.webform-additional-fields .webform-content .webform-content {
  border: 0;
}
.webform-main-fields .webform-field-round-corners .webform-corners-bottom {
  background: 0;
}
.webform-additional-fields
  .webform-field-round-corners
  .webform-corners-bottom {
  background: 0;
}
.webform-additional-fields,
.webform-additional-block {
  background: #eaeff0;
  border: 1px solid;
  border-color: #b6bdbe #cbd3d4 #d6dfe0 #c9d1d2;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.webform-additional-fields .webform-round-corners {
  background: #e1e9ea;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.webform-field-textbox-double,
.webform-field-combobox {
  border: 0;
}
.webform-field-textbox input,
.webform-field-textbox-double input {
  color: #8d9aa9;
}
.webform-field-textbox-inner,
.webform-field-combobox-inner {
  border: 1px solid;
  border-color: #b9bcbe #babec0 #c1c5c8 #bbbfc1;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.webform-additional-fields .webform-field-textarea {
  border: 0;
}
.webform-field-textarea-inner {
  border: 1px solid #b9bcbe;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.webform-left-corner,
.webform-right-corner {
  background: none !important;
}
.webform-field-label {
  color: #555 !important;
  text-shadow: 0 1px #fff;
}
.webform-field-action-link,
.webform-field-action-link:link,
.webform-field-action-link:visited,
.webform-field-action-link:hover,
.webform-field-action-link:active {
  color: #2067b0 !important;
  border-bottom: 1px dashed #2067b0;
}
.webform-field-action-link.selected {
  border: 0 none;
}
.task-webform .task-special-fields {
  border-top: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.task-webform .task-additional-fields {
  border-bottom: 0;
}
.task-detail-info-user {
  margin: 0;
  padding: 7px;
}
.task-detail-info-users-title {
  font: normal normal normal 13px / normal 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}
.task-detail-info-users-inner {
  background: 0;
  padding: 4px 0 10px;
}
.task-detail-info-users-border {
  display: none;
}
.task-detail-info-users-title {
  border: 0;
}
.task-detail-info-layout-name {
  font-size: 13px;
  font-weight: bold;
  color: #555;
}
.task-detail-info-layout {
  margin: 0 0 15px;
  width: 100%;
}
.task-detail-info-layout td {
  border-bottom: 1px solid #e9eaeb;
  padding: 7px 0;
}
.task-detail-info-layout .task-detail-info-layout-name {
  padding-right: 10px;
}
.task-detail-info-layout-value {
  color: #555;
}
.task-detail-info-status-in-progress {
  color: #555;
}
.task-detail-info-users-list {
  background: #f0f5f6;
  padding: 0;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.task-detail-info-assistants .task-detail-info-users-list,
.task-detail-info-auditors .task-detail-info-users-list {
  margin: 0;
}
.task-detail-info-responsible .task-detail-info-users-title,
.task-detail-info-director .task-detail-info-users-title,
.task-detail-info-assistants .task-detail-info-users-title,
.task-detail-info-auditors .task-detail-info-users-title {
  color: #555;
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 5px 3px;
}
.task-detail-info-users-title .webform-field-action-link {
  border: 0;
  font-size: 11px;
  color: #2067b0;
  font-weight: normal;
}
.task-detail-info-users-title .webform-field-action-link:hover {
  color: #2067b0;
  text-decoration: underline;
}
.task-detail-info-user-name a {
  font-size: 13px;
  font-weight: bold;
  color: #2067b0 !important;
}
.task-detail-info-user-position {
  font-size: 13px;
  color: #555;
}
.task-detail-info-user-avatar {
  margin: 0;
  padding: 2px;
  background: url(/bitrix/templates/bitrix24/images/template_sprite.png?10)
    no-repeat 2px -1310px;
  background-color: #fff !important;
  border: 1px solid;
  border-color: #e7e9ea #e8eaeb #e8eaeb #e7e9ea;
  -moz-box-shadow: inset -1px -1px 1px -1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset -1px -1px 1px -1px rgba(0, 0, 0, 0.08);
  box-shadow: inset -1px -1px 1px -1px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.task-detail-info-user-info {
  padding-left: 8px;
}
.task-detail-info-users {
  margin: 0;
}
.task-button-icon-play {
  background-position: -36px -64px;
  margin: 9px 6px 0 -5px;
}
.task-title-button-back {
  margin: 8px 0 0 10px;
}
.task-title-button-back-text {
  font: normal normal normal 13px/19px 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #5c6470;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.task-title-button-back-text:hover {
  text-decoration: underline;
}
.task-title-button-separator {
  display: none;
}
.task-list-toolbar {
  position: relative;
  height: auto;
  padding: 0;
}
.task-list-toolbar-search {
  position: relative !important;
  margin-right: 16px;
}
.task-list-toolbar-search-input {
  width: 180px;
  height: 30px;
  margin-top: 0;
  padding: 0 25px 0 4px;
  border: 1px solid;
  border-color: #b9bcbe #bdc1c3 #c1c5c8 #babec0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: 0;
  font-size: 13px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.task-list-toolbar-search-reset {
  display: inline-block;
  position: relative;
  left: -19px;
  top: 6px;
  vertical-align: top;
  width: 13px;
  height: 19px;
  background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -280px;
  cursor: pointer;
}
.task-list-toolbar-search-reset:hover {
  background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -280px;
}
.task-list-toolbar-search-icon {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: auto;
  right: 10px;
  top: 9px;
  cursor: pointer;
  background: url(/bitrix/templates/bitrix24/images/template_sprite.png?10) -53px -918px
    no-repeat;
}
.task-list-toolbar-templates {
  margin-right: 0;
}
</style>
