<template>
  <div class="bx-file-dialog-notice" id="bx-file-dialog-notice-DiskFileDialog">
    <div class="popup-window-hr popup-window-buttons-hr"><i></i></div>
    <div class="bx-file-dialog-notice-wrap"></div>
  </div>
</template>

<style>
.bx-file-dialog-notice {
  width: 845px;
  display: none;
}
.bx-file-dialog-notice-wrap {
  margin-left: 19px;
  margin-right: 21px;
  padding-top: 9px;
  font: 12px/16px Arial, Helvetica, sans-serif;
  color: #f50000;
  text-align: justify;
}
.bx-file-dialog-notice {
  width: 842px;
  margin-top: 9px;
  background-color: #ffd3d3;
  border: 1px solid #f8cdcd;
  border-radius: 3px;
  margin-left: 4px;
  box-shadow: 1px 1px 1px #d3afaf inset;
  -moz-box-shadow: 1px 1px 1px #d3afaf inset;
  -webkit-box-shadow: 1px 1px 1px #d3afaf inset;
}
.bx-file-dialog-notice-wrap {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #4c3f3f;
  font-size: 13px;
}
</style>
