<template>
  <div class="popup-window-titlebar" id="popup-window-titlebar-DiskFileDialog">
    <span class="popup-window-titlebar-text">Выберите PDF-документ</span>
  </div>
</template>

<style>
.popup-window-titlebar {
  height: 49px;
}
.popup-window-titlebar-text,
.popup-window-titlebar-text-version {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #80868e;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  max-width: 100%;
  line-height: 49px;
  overflow: hidden;
  padding: 0 30px 0 10px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popup-window-titlebar-text-version {
  font-weight: normal;
  font-size: 13px;
  padding-left: 0;
}
.popup-window-dark .popup-window-titlebar-text {
  color: #fff;
}
</style>
