<template>
  <div
    id="popup-window-content-DiskFileDialog"
    class="popup-window-content"
    style="padding: 0px"
  >
    <file-dialog-container></file-dialog-container>
    <file-dialog-notice></file-dialog-notice>
  </div>
</template>

<script>
import FileDialogContainer from './FileDialogContainer.vue';
import FileDialogNotice from './FileDialogNotice.vue';

export default {
  name: 'PopupWindowContent',
  components: {
    FileDialogContainer,
    FileDialogNotice,
  },
};
</script>
