<template>
  <div class="popup-window-buttons">
    <span
      class="popup-window-button"
      :class="
        $store.state.selectedFiles.length > 0
          ? 'popup-window-button-accept'
          : 'popup-window-button-disabled'
      "
      @click="clickButton"
      >Выбрать документ</span
    ><span
      class="
            popup-window-button
            popup-window-button-link
            popup-window-button-link-cancel
          "
      @click="$emit('close')"
      >Отменить</span
    >
  </div>
</template>

<script>
export default {
  methods: {
    async clickButton() {
      const event = new CustomEvent('bx.popup.window.download', {
        detail: {
          files: this.$store.state.selectedFiles, //array
        },
      });
      document.getElementById('BXPopupWindowShowButton').dispatchEvent(event);
      //close window
      this.$emit('close');
    },
  },
};
</script>

<style>
.popup-window-buttons {
  text-align: center;
  padding: 20px 0 10px;
  position: relative;
}
.popup-window-button {
  display: inline-block;
  height: 39px;
  line-height: 39px;
  margin: 0 12px 0 0;
  background: #ecedef;
  border-radius: 2px;
  cursor: pointer;
  color: #7a818a;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  outline: 0;
  padding: 0 18px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  -webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
  box-shadow: 0 0 0 1px #c6cdd3 inset;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.popup-window-button:before,
.popup-window-button:after {
  display: none;
}
.popup-window-button:hover {
  background: #cfd4d8;
  color: #535c69;
}
.popup-window-button:last-child {
  margin-right: 0;
}
.popup-window-button-accept,
.popup-window-button-create {
  background: #bbed21;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #535c69;
}
.popup-window-button-disabled {
  pointer-events: none;
}
.popup-window-button-accept:hover,
.popup-window-button-create:hover {
  background: #d2f95f;
  color: #535c69;
}
.popup-window-button-wait {
  color: transparent !important;
  position: relative;
}
.popup-window-button-wait .popup-window-button-text {
  opacity: 0;
}
.popup-window-button-wait:before {
  background: none !important;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 50%;
  color: #fff;
  display: block !important;
  content: '_' !important;
  font-size: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 10px;
  height: 21px;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -11px;
  padding-right: 6px;
  position: absolute;
  text-align: right;
  width: 15px;
}
.popup-window-button-wait:after {
  background: #fff !important;
  content: ' ' !important;
  display: block !important;
  height: 7px;
  position: absolute;
  top: 13px;
  left: 50%;
  padding: 0;
  width: 1px;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-animation: popup-window-button-animation 1s infinite linear;
  animation: popup-window-button-animation 1s infinite linear;
}
.popup-window-button-create.popup-window-button-wait:before,
.popup-window-button-accept.popup-window-button-wait:before {
  color: #535c69;
  -webkit-box-shadow: inset 0 0 0 1px #535c69;
  box-shadow: inset 0 0 0 1px #535c69;
}
.popup-window-button-create.popup-window-button-wait:after,
.popup-window-button-accept.popup-window-button-wait:after {
  background: #535c69 !important;
}
@-webkit-keyframes popup-window-button-animation {
  0 {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes popup-window-button-animation {
  0 {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.popup-window-button-decline {
  background: #f1361b;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popup-window-button-decline:hover {
  background: #cc1a00;
  color: #fff;
}
.popup-window-button-cancel {
  font-weight: normal;
}
.popup-window-button-blue {
  background-color: #3bc8f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.popup-window-button-blue:hover {
  background-color: #3fddff;
  color: #fff;
}
.popup-window-button-blue:active {
  background-color: #13b1e3;
  color: #fff;
}
.popup-window-button-link,
.popup-window-button-link-cancel,
.popup-window-button-link:hover,
.popup-window-button-link:active {
  background: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popup-window-button-link {
  border-bottom: 1px solid #c0c2c5;
  border-radius: 0;
  color: #535c69;
  cursor: pointer;
  height: 17px;
  line-height: 17px;
  -webkit-transition: border-bottom-color 0.15s linear;
  -o-transition: border-bottom-color 0.15s linear;
  transition: border-bottom-color 0.15s linear;
  padding: 0;
}
.popup-window-button-link:hover,
.popup-window-button-link:active {
  border-bottom-color: #535c69;
  color: #535c69;
  line-height: 17px;
  height: 17px;
}
.popup-window-button-link-cancel {
  color: #f1361b;
  border-bottom-color: #ffb4a9;
}
.popup-window-button.popup-window-button-link-cancel:hover,
.popup-window-button.popup-window-button-link-cancel:active {
  border-bottom-color: #f1361b;
  color: #f1361b;
}
.popup-window-button-disable {
  cursor: default;
  opacity: 0.3;
}
</style>
