<template>
  <span
    class="popup-window-close-icon popup-window-titlebar-close-icon"
    @click="$emit('close')"
  ></span>
</template>

<script>
export default {
  emits: ['close'],
};
</script>

<style>
.popup-window-close-icon {
  cursor: pointer;
  height: 27px;
  outline: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.popup-window-close-icon:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.787 1L5 3.787 2.213 1 1 2.213 3.787 5 1 7.787 2.213 9 5 6.213 7.787 9 9 7.787 6.213 5 9 2.213' fill='%23999' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}
.popup-window-titlebar-close-icon {
  top: 12px;
  right: 10px;
}
.popup-window-close-icon:hover {
  opacity: 1;
}
.popup-window-dark .popup-window-close-icon:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.787 1L5 3.787 2.213 1 1 2.213 3.787 5 1 7.787 2.213 9 5 6.213 7.787 9 9 7.787 6.213 5 9 2.213' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}
</style>
