<template>
  <div
    class="popup-window popup-window-content-white popup-window-with-titlebar"
    :class="{ 'popup-window--show': show }"
  >
    <popup-window-titlebar></popup-window-titlebar>
    <popup-window-content></popup-window-content>
    <popup-window-close-icon @close="close"></popup-window-close-icon>
    <popup-window-buttons @close="close"></popup-window-buttons>
  </div>
</template>

<script>
import PopupWindowTitlebar from './components/PopupWindowTitlebar.vue';
import PopupWindowContent from './components/PopupWindowContent.vue';
import PopupWindowCloseIcon from './components/PopupWindowCloseIcon.vue';
import PopupWindowButtons from './components/PopupWindowButtons.vue';

export default {
  name: 'App',
  data() {
    return {
      show: false,
    };
  },
  methods: {
    close() {
      this.show = false;
      this.$store.commit('resetStorage');
      window.BXPopupWindowFiles = [];
    },
    open() {
      this.show = true;

      if (window.BX24) {
        if (!this.$store.state.result.length) {
          window.BX24.init(() => {
            window.BX24.callMethod('disk.storage.getlist', {}, (result) => {
              if (result.error()) {
                throw Error(result.error());
              } else {
                this.$store.commit('setResult', result.data());

                window.BX24.callMethod('user.current', {}, (currentUser) => {
                  this.$store.commit('setCurrentUserId', currentUser.data().ID);

                  let userDisk = this.$store.state.result.find((diskObject) => {
                    return (
                      diskObject.ENTITY_ID === this.$store.state.currentUserId
                    );
                  });

                  //set the disk as active
                  this.$store.commit('setActiveDisk', userDisk);

                  //get children
                  this.$store.dispatch('getChildren', {
                    id: userDisk.ID,
                    type: 'storage',
                  });
                  //set path chain
                  this.$store.commit('setPathChain', {
                    name: userDisk.NAME,
                    id: userDisk.ID,
                    type: 'storage',
                  });
                });
              }
            });
          });
        } else if (this.$store.state.currentUserId) {
          let userDisk = this.$store.state.result.find((diskObject) => {
            return diskObject.ENTITY_ID === this.$store.state.currentUserId;
          });

          //set the disk as active
          this.$store.commit('setActiveDisk', userDisk);

          //get children
          this.$store.dispatch('getChildren', {
            id: userDisk.ID,
            type: 'storage',
          });
          //set path chain
          this.$store.commit('setPathChain', {
            name: userDisk.NAME,
            id: userDisk.ID,
            type: 'storage',
          });
        }
      } else {
        throw Error('BX24 is needed');
      }
    },
  },
  components: {
    PopupWindowTitlebar,
    PopupWindowContent,
    PopupWindowCloseIcon,
    PopupWindowButtons,
  },
  mounted() {
    document
      .querySelector('#BXPopupWindowShowButton')
      .addEventListener('click', (e) => {
        e.preventDefault();
        this.open();
      });
  },
};
</script>

<style scoped>
.popup-window.popup-window--show {
  display: flex;
}
.popup-window * {
  box-sizing: content-box;
}
.popup-window {
  position: fixed;
  left: calc((100vw - 863px) / 2);
  top: 100px;
  z-index: 1250 !important;

  background-color: #fff;
  -webkit-box-shadow: 0 7px 21px rgba(83, 92, 105, 0.12),
    0 -1px 6px 0 rgba(83, 92, 105, 0.06);
  box-shadow: 0 7px 21px rgba(83, 92, 105, 0.12),
    0 -1px 6px 0 rgba(83, 92, 105, 0.06);
  padding: 10px;
  font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}
.popup-window[style*='block'] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.bx-ie .popup-window[style*='block'] {
  display: block !important;
}
.popup-window.popup-window-with-titlebar {
  padding: 0 10px 10px;
}
.popup-window-delimiter {
  background-color: #f0f1f2;
  display: block;
  height: 1px;
  line-height: 1px;
}
.popup-window-delimiter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 8px 0;
  text-align: center;
}
.popup-window-delimiter-section:before,
.popup-window-delimiter-section:after {
  display: block;
  content: '';
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 15px;
  position: relative;
  top: 8px;
  height: 1px;
  background-color: #f0f1f2;
}
.popup-window-delimiter-text {
  position: relative;
  top: 2px;
  padding: 0 12px;
  background: #fff;
  color: #b1b6bc;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow-x: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
</style>
