<template>
  <div class="bx-file-dialog-tab">
    <div
      class="bx-file-dialog-tab-wrap"
      id="bx-file-dialog-tab-DiskFileDialog"
      v-if="$store.state.result.length"
    >
      <file-dialog-tab-group
        v-for="disk in $store.state.disks"
        :key="disk.type"
        v-bind="disk"
      ></file-dialog-tab-group>
    </div>
  </div>
</template>

<script>
import FileDialogTabGroup from './FileDialogTabGroup.vue';

export default {
  name: 'FileDialogTab',
  components: {
    FileDialogTabGroup,
  },
};
</script>
