<template>
  <div class="bx-file-dialog-tab-item">
    <a
      href="#"
      class="bx-file-dialog-tab-item-link"
      :class="{ 'bx-file-dialog-tab-item-active': active }"
      :data-id="ID"
      data-type="common"
      @click="clickTabItem()"
      ><span class="bx-file-dialog-tab-item-link-text" :title="NAME">{{
        NAME
      }}</span
      ><span class="bx-file-dialog-tab-item-link-arrow"></span
    ></a>
  </div>
</template>

<script>
export default {
  name: 'FileDialogTabItem',
  props: {
    ID: String,
    NAME: String,
    ENTITY_TYPE: String,
    diskTitle: String,
    active: Boolean,
  },
  methods: {
    clickTabItem() {
      //setActive
      this.$store.commit('setActiveDisk', { ID: this.ID });
      //get children
      this.$store.dispatch('getChildren', { id: this.ID, type: 'storage' });
      //set path chain
      this.$store.commit('setPathChain', {
        name: this.NAME,
        id: this.ID,
        type: 'storage',
      });
    },
  },
};
</script>
