<template>
  <div class="bx-file-dialog-tab-group">
    <div class="bx-file-dialog-tab-group-title">
      {{ title }}
    </div>
    <file-dialog-tab-item
      v-for="disk in getDisks(type)"
      v-bind="disk"
      :key="disk.ID"
    ></file-dialog-tab-item>
  </div>
</template>

<script>
import FileDialogTabItem from './FileDialogTabItem.vue';

export default {
  name: 'FileDialogTabGroup',
  props: {
    title: String,
    type: String,
  },
  methods: {
    getDisks(diskType) {
      return this.$store.state.result.filter((diskObject) => {
        return diskObject.ENTITY_TYPE === diskType;
      });
    },
  },
  components: {
    FileDialogTabItem,
  },
};
</script>
