<template>
  <div
    @click="clickFolder"
    class="bx-file-dialog-row  bx-file-dialog-row-normal"
    :data-id="ID"
  >
    <span
      class="bx-file-dialog-column-row bx-file-dialog-column-name"
      style="width: 310px"
      :title="`Название: ${NAME}`"
      ><a
        href="#"
        class="bx-file-dialog-content-link bx-file-dialog-icon bx-file-dialog-icon-folder"
        onclick="javascript:void(0);"
        >{{ NAME }}</a
      ></span
    ><span
      class="bx-file-dialog-column-row bx-file-dialog-column-size"
      style="width: 79px"
      title=": "
    ></span
    ><span
      class="bx-file-dialog-column-row bx-file-dialog-column-modifyBy"
      style="width: 122px"
      :title="`Кто изменил: ${updatedBy}`"
    >
      {{ updatedBy }}</span
    ><span
      class="bx-file-dialog-column-row bx-file-dialog-column-modifyDate"
      style="width: 90px"
      title="Изменен: 03.01.2021"
      >{{ updateTime }}</span
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      updatedBy: '',
    };
  },
  props: {
    ID: String,
    NAME: String,
    STORAGE_ID: String,
    TYPE: String,
    PARENT_ID: String,
    DELETED_TYPE: String,
    CREATE_TIME: String,
    UPDATE_TIME: String,
    UPDATED_BY: String,
    DETAIL_URL: String,
  },
  computed: {
    updateTime() {
      const date = new Date(this.UPDATE_TIME);
      let month = date.getMonth() + 1;
      month = String(month).length === 1 ? `0${month}` : month;
      let day = date.getDate();
      day = String(month).length === 1 ? `0${day}` : day;
      return `${day}.${month}.${date.getFullYear()}`;
    },
  },
  methods: {
    clickFolder() {
      //get children
      this.$store.dispatch('getChildren', { id: this.ID, type: 'folder' });
      //add path chain
      this.$store.commit('setPathChain', {
        name: this.NAME,
        id: this.ID,
        type: 'folder',
      });
    },
  },
  mounted() {
    if (window.BX24) {
      window.BX24.callMethod('user.get', { id: this.UPDATED_BY }, (result) => {
        if (result.error()) {
          throw Error(result.error());
        } else {
          this.updatedBy = `${result.data()[0].NAME} ${
            result.data()[0].LAST_NAME
          }`;
        }
      });
    }
  },
};
</script>

<style>
.bx-file-dialog-row {
  border-top: 0 solid #f0f0f0;
  height: 32px;
  padding-top: 1px;
  background-color: #fff;
}
.bx-file-dialog-row:first-child {
  border-top: 0 solid #f0f0f0;
  height: 32px;
  padding-top: 1px;
}
.bx-file-dialog-row:nth-child(odd) {
  background-color: #fff;
}
.bx-file-dialog-row:nth-child(even) {
  background-color: #fbfbfb;
}
.bx-file-dialog-row-normal:hover {
  background-color: #f1f2f2;
}
.bx-file-dialog-column-row {
  display: inline-block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #666;
  line-height: 32px;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 32px;
  margin-left: 4px;
}
.bx-file-dialog-row-disabled .bx-file-dialog-column-row {
  opacity: 0.4;
}
.bx-file-dialog-column-row-1.bx-file-dialog-row-disabled:hover {
  background-color: #fff;
}
.bx-file-dialog-column-row-2.bx-file-dialog-row-disabled:hover {
  background-color: #fbfbfb;
}
.bx-file-dialog-row-selected {
  background-color: #dbdddf !important;
}
.bx-file-dialog-row-selected:hover {
  background-color: #d5d5d5 !important;
}
</style>
