<template>
  <div class="bx-file-dialog-content-path">
    <a
      href="#up"
      class="bx-file-dialog-content-path-up bx-file-dialog-icon bx-file-dialog-icon-up"
      @click.prevent="clickUp"
    ></a
    ><span class="bx-file-dialog-content-path-items"
      ><span
        class="bx-file-dialog-content-path-items-wrap"
        id="bx-file-dialog-content-path-items-wrap-DiskFileDialog"
      >
        <file-dialog-content-path-item
          v-for="(pathItem, index) in $store.state.pathChain"
          v-bind="pathItem"
          :index="index"
          :key="pathItem.id"
        ></file-dialog-content-path-item>
      </span>
    </span>
  </div>
</template>

<script>
import FileDialogContentPathItem from './FileDialogContentPathItem.vue';

export default {
  name: 'FileDialogContentPath',
  methods: {
    clickUp() {
      const pathItem = this.$store.state.pathChain[
        this.$store.state.pathChain.length - 2
      ];
      if (!pathItem) return;
      //get children
      this.$store.dispatch('getChildren', pathItem);
      //set path chain
      this.$store.commit('setPathChain', pathItem);
    },
  },
  components: {
    FileDialogContentPathItem,
  },
};
</script>

<style>
.bx-file-dialog-content-root .bx-file-dialog-content-path {
  display: block !important;
}
.bx-file-dialog-content-path {
  height: 19px;
  border-bottom: 1px solid #f0f0f0;
  margin-left: 5px;
  vertical-align: top;
}
.bx-file-dialog-content-path-up {
  display: inline-block;
  height: 19px;
  font: 11px Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 19px;
  width: 20px;
  vertical-align: top;
}
.bx-file-dialog-content-path-up:hover {
  background-color: #f1f2f2;
}
.bx-file-dialog-content-path-seporator {
  display: inline-block;
  height: 19px;
  font: 11px Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 19px;
  width: 9px;
  text-align: center;
  vertical-align: top;
}
.bx-file-dialog-content-path-link {
  display: inline-block;
  padding: 0 4px;
  height: 19px;
  font: 11px Arial, Helvetica, sans-serif;
  color: #999 !important;
  text-decoration: none;
  line-height: 19px;
  vertical-align: top;
}
.bx-file-dialog-content-path-link:hover {
  background-color: #f1f2f2;
  color: #666 !important;
}
.bx-file-dialog-content-path-link-active:hover {
  color: #2f2f2f !important;
}
.bx-file-dialog-content-path-link-active {
  color: #666 !important;
}
.bx-file-dialog-content-path-items {
  display: inline-block;
  height: 19px;
  width: 615px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.bx-file-dialog-content-path-items-wrap {
  display: block;
  height: 19px;
  line-height: 19px;
  position: absolute;
}
</style>
