<template>
  <span class="bx-file-dialog-column-header" :style="`width: ${width}`"
    ><a
      href="#sort"
      class="bx-file-dialog-sort-link"
      :class="{ 'bx-file-dialog-sort-active': active }"
      @click.prevent="clickSortLink"
      >{{ title
      }}<span
        class="bx-file-dialog-sort-icon"
        :class="`bx-file-dialog-sort-${type}`"
      ></span></a
  ></span>
</template>

<script>
export default {
  props: {
    title: String,
    width: String,
    code: String,
    type: String,
    active: Boolean,
  },
  methods: {
    clickSortLink() {
      let type = this.type;
      const code = this.code;
      //sort type
      if (this.active) {
        type = type === 'desc' ? 'asc' : 'desc';
        this.$store.commit('changeSortLinks', {
          code: this.code,
          type: type,
        });
      } else {
        this.$store.commit('changeSortLinks', {
          code: this.code,
          active: true,
        });
      }
      //sort
      const folders = this.$store.state.content.folders.sort((a, b) => {
        return type === 'desc'
          ? sortFunction(b[this.code], a[this.code])
          : sortFunction(a[this.code], b[this.code]);
      });

      const files = this.$store.state.content.files.sort((a, b) => {
        return type === 'desc'
          ? sortFunction(b[this.code], a[this.code])
          : sortFunction(a[this.code], b[this.code]);
      });

      function sortFunction(a, b) {
        if (code === 'SIZE') {
          a = a * 1;
          b = b * 1;
        }
        if (a < b) {
          return -1;
        }
        if (a > b) {
          return 1;
        }
        return 0;
      }

      this.$store.commit('setContent', folders.concat(files));
    },
  },
};
</script>

<style>
.bx-file-dialog-column-header {
  display: inline-block;
  font: 11px Arial, Helvetica, sans-serif;
  color: #999;
  line-height: 19px;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 4px;
}
.bx-file-dialog-sort-link {
  display: block;
  height: 24px;
  font: 11px Arial, Helvetica, sans-serif;
  color: #999 !important;
  text-decoration: none;
  line-height: 19px;
}
.bx-file-dialog-sort-link:hover,
.bx-file-dialog-sort-active {
  color: #666 !important;
}
.bx-file-dialog-sort-icon {
  display: inline-block;
  height: 10px;
  width: 10px;
}
.bx-file-dialog-sort-link:hover .bx-file-dialog-sort-asc,
.bx-file-dialog-sort-active .bx-file-dialog-sort-asc {
  background: url('../../assets/file-dialog-sprite.png') -10px -361px no-repeat;
}
.bx-file-dialog-sort-link:hover .bx-file-dialog-sort-desc,
.bx-file-dialog-sort-active .bx-file-dialog-sort-desc {
  background: url('../../assets/file-dialog-sprite.png') -10px -330px no-repeat;
}
.bx-file-dialog-sort-active:hover {
  color: #2f2f2f !important;
}
</style>
